<div data-role="page" data-url="<%= Rho::Application.startURI %>/">

  <div data-role="header" data-position="inline">
    <h1>Store</h1>
    <% if Rho::RhoConnectClient.isLoggedIn %>
        <a href="<%= url_for :controller => :Settings, :action => :do_sync %>" class="ui-btn-left" data-icon="refresh">Sync</a>
        <a href="<%= url_for :controller => :Settings, :action => :logout %>" class="ui-btn-right" data-icon="star">Logout</a>
    <% end %>
  </div>

  <div data-role="content">
    <ul data-role="listview">
      <% if Rho::RhoConnectClient.isLoggedIn %>

          <li><a href="Product">Products</a></li>
          <li><a href="Customer">Customers</a></li>

      <% else %>

          <li><a href="<%= url_for :controller => :Settings, :action => :login %>">Login</a></li>

      <% end %>
    </ul>
  </div>

</div>
