<div class="pageTitle">
  <h1>Store</h1>
</div>

<div class="toolbar">
  <% if SyncEngine::logged_in > 0 %>
      <div class="leftItem blueButton">
        <a href="<%= url_for :controller => :Settings, :action => :do_sync %>">Sync</a>
      </div>
      <div class="rightItem regularButton">
        <a href="<%= url_for :controller => :Settings, :action => :logout %>">Logout</a>
      </div>
  <% else %>
      <div class="rightItem regularButton">
        <a href="<%= url_for :controller => :Settings, :action => :login %>">Login</a>
      </div>
  <% end %>
</div>

<div class="content">
  <ul>
    <% if SyncEngine::logged_in > 0 %>

        <li><a href="/app/Product"><span class="title">Products</span><span class="disclosure_indicator"/></a></li>
        <li><a href="/app/Customer"><span class="title">Customers</span><span class="disclosure_indicator"/></a></li>

    <% else %>

        <li><a href="/app/Settings/login">Login</a></li>

    <% end %>
  </ul>
</div>