<div class="pageTitle">
  <h1>Products</h1>
</div>

<div class="toolbar">
  <a class="button" href="<%= url_for :action => :new %>">New</a>
</div>

<div class="content">
  <ul>
    <% @products.each do |product| %>
    
        <li>
          <a href="<%= url_for :action => :async_show, :id => product.object, :query => {:product_id => product.object} %>">
            <%= product.name %>
          </a>
        </li>
    
    <% end %>
  </ul>
</div>