<div data-role="page" data-rho-wait-page="true">

  <div data-role="header" data-position="inline">
  </div>

  <div data-role="content">
    <div style="margin: 150px auto; width: 100px; font-weight: bold; color: white;">
      Waiting...
    </div>
  </div>

</div>
