<div class="toolbar">
	<h1 id="pageTitle">
		New Customer
	</h1>
</div>

<form title="New Customer" 
	  class="panel"
	  id="customer_new_form" 
	  method="POST" 
	  action="<%=url_for(:action => :create)%>" selected="true">
	<fieldset>
		<input type="hidden" name="id" value="<%=@customer.object%>"/>
		
		  <div class="row">
			  <label>First: </label>
			  <input type="text" name="customer[first]"/>
		  </div>
		
		  <div class="row">
			  <label>Last: </label>
			  <input type="text" name="customer[last]"/>
		  </div>
		
		  <div class="row">
			  <label>Email: </label>
			  <input type="text" name="customer[email]"/>
		  </div>
		
		  <div class="row">
			  <label>Phone: </label>
			  <input type="text" name="customer[phone]"/>
		  </div>
		
		  <div class="row">
			  <label>Address: </label>
			  <input type="text" name="customer[address]"/>
		  </div>
		
		  <div class="row">
			  <label>City: </label>
			  <input type="text" name="customer[city]"/>
		  </div>
		
		  <div class="row">
			  <label>State: </label>
			  <input type="text" name="customer[state]"/>
		  </div>
		
		  <div class="row">
			  <label>Zip: </label>
			  <input type="text" name="customer[zip]"/>
		  </div>
		
	</fieldset>
	<input type="submit" value="Create"/>
</form>